.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;

}
.flex-container{
 
  margin: 30px;
  display: flex;
  flex-direction: row;
  width: 1400px;
  height: 190px;
  padding: 5px; 
}
.item1{
  background-color: white;
border-radius: 5px 5px 5px 5px;
list-style-type: none;
flex: 1 1 auto;
text-align: center;
margin: 5px;
width:450px;
height: 180px;
z-index: 1;
position: center;
box-shadow:10px 8px 5px dimgray;
border-radius:15px;
}
.item2{

background-color: white;
border-radius: 5px 5px 5px 5px;
list-style-type: none;
flex: 1 1 auto;
text-align: center;
margin: 5px;
width:450px;
height: 180px;
z-index: 1;
position: center;
box-shadow:10px 8px 5px dimgray;
border-radius:15px;
}
.item3{

background-color: white;
border-radius: 5px 5px 5px 5px;
list-style-type: none;
flex: 1 1 auto;
text-align: center;
margin: 5px;
width:450px;
height: 180px;
z-index: 1;
position: center;
box-shadow:10px 8px 5px dimgray;
border-radius:15px;

}
.item4{

background-color: white;
border-radius: 5px 5px 5px 5px;
list-style-type: none;
flex: 1 1 auto;
text-align: center;
margin: 5px;
width:450px;
height: 180px;
z-index: 1;
position: center;
box-shadow:10px 8px 5px dimgray;
border-radius:15px;


}
label{
color:  #0037c2;
font-size: 15px;
font-weight: bold;
display: inline-block;
text-align: right;
margin :2px
}

select {
font: 400 15px  sans-serif;
appearance: none;
color: dimgray;
border: 1px solid #006fc2;
line-height: 1;
outline: 0;
padding: 10px 45px 8px 10px;
border-radius: 10px;
background-color: white;
background-image: linear-gradient(dimgray, dimgray),
  linear-gradient(-135deg, transparent 50%, #bae1ff 50%),
  linear-gradient(-225deg, transparent 50%, #bae1ff 50%),
  linear-gradient(#bae1ff 42%, #006fc2 42%);
background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
background-position: right 20px center, right bottom, right bottom, right bottom;   
display: inline-block;
}

select:hover {
background-image: linear-gradient(#006fc2, #006fc2),
  linear-gradient(-135deg, transparent 50%, #006fc2 50%),
  linear-gradient(-225deg, transparent 50%, #006fc2 50%),
  linear-gradient(#006fc2 42%, #bae1ff 42%);
}

select:active {
background-image: linear-gradient(#006fc2, #006fc2),
  linear-gradient(-135deg, transparent 50%,#006fc2 50%),
  linear-gradient(-225deg, transparent 50%, #006fc2 50%),
  linear-gradient(#006fc2 42%, #bae1ff 42%);
color: #bae1ff;
border-color: #006fc2;
background-color: #006fc2;
}
/* se que j'avais avant*/

.button{
border-radius: 6px;
background-color: #4CAF50;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 17px;
padding: 10px;
width: 108px;
transition: all 0.5s;
cursor: pointer;
margin: 15px;
}
.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {

content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}




